@model Food
<div class="container marginTop" id="food-details">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImageUrl" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">@Model.Name</h4>
                <!--Text-->
                <p class="card-text">@Model.LongDescription.</p>
                <p class="btn btn-group pull-right">
                    <a asp-controller="FastFood" asp-action="List" class="btn btn-default">Show all Foods</a>
                    <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-foodId="@Model.FoodId">
                        Add @Model.Name to cart
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


@section masterjs {

    <script type="text/javascript">
        @*<script type="text/javascript" src="@Url.Content("/Scripts/SomeScript.js")"></script>*@

        $(document).ready(function () {

            $(function () {
                $('html, body').animate({
                    scrollTop: $('#food-details').offset().top
                }, 1000);
            });
    });

    </script>
}